<%- include("../layout/admin/navbar") -%>


<div class="add-data">
<center>
<div class="btns">
<button onclick="window.location.href='/admin/add-student'">اضافة طالب</button>
<button onclick="window.location.href='/admin/add-teacher'">اضافة مدرس</button>
<button onclick="window.location.href='/admin/add-teachercate'">اضافة تخصص</button>
<button onclick="window.location.href='/admin/add-class'">اضافة صفوف</button>
<button onclick="window.location.href='/admin/add-subject/filter/all'">اضافة مواد دراسية</button>
<button onclick="window.location.href='/admin/add-marks-cat'">اضافة قسم درجات</button>
<button onclick="window.location.href='/admin/add-table'">اضافة جداول</button>
<button onclick="window.location.href='/admin/add-marks/class/all'">اضافة درجات</button>
<button onclick="window.location.href='/admin/add-post'">اضافة منشور</button>

</div>
</center>
</div>


<%- include("../layout/admin/footer") -%>