<%- include("../layout/admin/navbar") -%>

    <div class="add-teacher">
        <center>
            <form action="/admin/add-marks-cat" method="POST">
                <input type="text" name="name" placeholder="اسم قسم الدرجات">
                <select name="_class">
                    <option selected>الصف</option>
                    <% classes.forEach(data=> { %>
                        <option>
                            <%= data.name %>
                        </option>
                        <% }); %>
                </select>
                <button type="sibmit">ادخال المعلومات</button>
            </form>
        </center>
    </div>

    <%- include("../layout/admin/footer") -%>