<%- include("../layout/admin/navbar") -%>


<div class="add-class">
<center>
<form action="/admin/add-class" method="POST">
    <input type="text" name="name" placeholder="ادخل اسم الصف">
<button type="sibmit">ادخال المعلومات</button>
</form>
</center>
</div>


<%- include("../layout/admin/footer") -%>