<%- include("../layout/admin/navbar") -%>

<div class="add-class">
<center>
<form action="/admin/add-teachercate" method="POST">
    <input type="text" name="name" placeholder="ادخل اسم التخصص">
<button type="sibmit">ادخال المعلومات</button>
</form>
</center>
</div>


<%- include("../layout/admin/footer") -%>