<%- include("../layout/admin/navbar") -%>

<div class="information-management">
    <div class="btns">
        <button onclick="window.location.href='/admin/manage-student/filter/all'">حسابات الطلاب</button>
        <button onclick="window.location.href='/admin/manage-teacher/filter/all'">حسابات المدرسين</button>
        <button onclick="window.location.href='/admin/manage-teachercate'">التخصصات</button>
        <button onclick="window.location.href='/admin/manage-subject/filter/all'">المواد الدراسية</button>
        <button onclick="window.location.href='/admin/manage-classes'">الصفوف</button>
        <button>المنشورات</button>

    </div>
</div>

<%- include("../layout/admin/footer") -%>