<%- include("../layout/admin/navbar") -%>


    <div class="panel">
        <center>
            <div class="btns">
                <button onclick="window.location.href='/admin/add-data'">اضافة عناصر</button>
                <button type="">ادارة الحسابات</button>
                <button type="">ارسال</button>
            </div>
        </center>
    </div>


    <%- include("../layout/admin/footer") -%>