<%- include("../layout/teacher/navbar") -%>

    <center>
        <br>
        <h3>
            <%= note.title%>
        </h3>
        
        <br>
        <h4>
            <%= note.note%>
        </h4>
    </center>

    <%- include("../layout/teacher/footer") -%>