<%- include("../layout/student/navbar") -%>

<div class="form-style-8">
    <h2>Login</h2>
    <form action="/student/login" method="POST">
      <input type="text" name="code" placeholder="Code">
      <button type="submit">Login</button>
    </form>
    </div>

<%- include("../layout/student/footer") -%>